@mixin font {
    font-weight: 700;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: #f0ebdd;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;

    .fields__item {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;

        .redactable {
            display: flex;
            flex-direction: column;
            width: 60%;

            .buttons {
                display: flex;
                flex-direction: row;
                width: 200px;
                justify-content: space-between;
                align-self: flex-end;
                margin-top: 10px;
            }
        }
    }
    .requisit_value {
        @include font();
        font-size: 1.3em;
    }

    .requisit_value:hover {
        cursor: pointer;
        color: #cac6bb;
        font-size: 1.33em;
    }
}
