.wrong {
    border-bottom: 1px solid red;
}

.login_incorrect {
    display: flex;
    align-self: center;
    color: red;
    font-size: 1em;
    font-weight: bold;
    max-width: 90%;
    text-align: center;
}
.login_incorrect_none {
    display: none;
}
