.waybill_form_wb_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 15px 0;
  border-bottom: 1px solid #f0ebdd;
}
.waybill_form_wb_header .waybill_form_wb_header_number {
  border-right: 1px solid #f0ebdd;
  padding: 0 3px 0 3px;
  height: 25px;
  text-align: center;
  margin-top: 4px;
  width: 5%;
}
.waybill_form_wb_header .waybill_form_wb_header_nomenclature {
  border-right: 1px solid #f0ebdd;
  padding: 0 3px 0 3px;
  height: 25px;
  text-align: center;
  margin-top: 4px;
  width: 35%;
}
.waybill_form_wb_header .waybill_form_wb_header_quantity {
  border-right: 1px solid #f0ebdd;
  padding: 0 3px 0 3px;
  height: 25px;
  text-align: center;
  margin-top: 4px;
  width: 8%;
}
.waybill_form_wb_header .waybill_form_wb_header_price {
  border-right: 1px solid #f0ebdd;
  padding: 0 3px 0 3px;
  height: 25px;
  text-align: center;
  margin-top: 4px;
  width: 15%;
}
.waybill_form_wb_header .waybill_form_wb_header_summ {
  border-right: 1px solid #f0ebdd;
  padding: 0 3px 0 3px;
  height: 25px;
  text-align: center;
  margin-top: 4px;
  width: 15%;
}
.waybill_form_wb_header .waybill_form_wb_header_NDSprcnt {
  border-right: 1px solid #f0ebdd;
  padding: 0 3px 0 3px;
  height: 25px;
  text-align: center;
  margin-top: 4px;
  width: 5%;
}
.waybill_form_wb_header .waybill_form_wb_header_NDS {
  border-right: 1px solid #f0ebdd;
  padding: 0 3px 0 3px;
  height: 25px;
  text-align: center;
  margin-top: 4px;
  width: 15%;
}
.waybill_form_wb_header .waybill_form_wb_header_total {
  padding: 0 5px 0 5px;
  height: 25px;
  text-align: center;
  width: 15%;
  margin-top: 4px;
}