.total {
    display: flex;
    flex-direction: row;
    .total_value {
        margin-left: 7px;
    }
}

.totalWrapper {
    margin-top: 5%;
    margin-left: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2em;
}
