@mixin font {
    font-weight: 700;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: #f0ebdd;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .requisit_name {
        @include font();
        font-size: 1.2em;
    }
    .requisit_value {
        @include font();
        font-size: 1.3em;
    }
}
