@import "../../../../styles/content-frame.scss";

@mixin hover {
    box-shadow: none;
    cursor: pointer;
    background-color: whitesmoke;
}

.waybills_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .waybills_header_add {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f0ebdc;
        width: 25px;
        height: 25px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        span {
            position: relative;
            width: 15px;
            height: 2px;
            background-color: #768ca6;
            &::before {
                content: "";
                position: absolute;
                width: 15px;
                height: 2px;
                left: 0;
                background-color: #768ca6;
                transform: rotate(90deg);
            }
        }
    }
    .waybills_header_add:hover {
        @include hover;
    }
    .waybills_header_delete {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f0ebdc;
        width: 25px;
        height: 25px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        span {
            position: relative;
            width: 15px;
            height: 2px;
            background-color: #768ca6;
        }
    }

    .waybills_header_delete:hover {
        @include hover;
    }
    .waybills_header_redact {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f0ebdc;
        width: 27px;
        height: 25px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        .waybills_header_redact_icon {
            background: url("../pictures/redacte.png") no-repeat;
            width: 23px;
            height: 15px;
        }
    }

    .waybills_header_redact:hover {
        @include hover;
    }

    .waybills_header_filter {
        display: flex;
        flex-basis: 30%;
        align-items: center;
        justify-content: space-around;

        .waybills_header_filter_name {
            font-size: 1.2em;
        }
    }
    .waybills_header_name {
        flex-basis: 20%;
        font-size: 1.4em;
        justify-self: center;
    }
}
.waybills_list_header {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.3em;

    .waybills_list_header_date {
        text-align: center;
        flex: 0 0 15%;
        border-right: 1px solid snow;
    }

    .waybills_list_header_date:hover {
        cursor: pointer;
    }

    .waybills_list_header_num {
        text-align: center;
        flex: 0 0 25%;
        border-right: 1px solid snow;
    }

    .waybills_list_header_num:hover {
        cursor: pointer;
    }
    .waybills_list_header_ctrpty {
        text-align: center;
        flex: 0 0 45%;
        border-right: 1px solid snow;
    }

    .waybills_list_header_ctrpty:hover {
        cursor: pointer;
    }
    .waybills_list_header_summ {
        text-align: center;
        flex: 0 0 15%;
    }

    .waybills_list_header_summ {
        cursor: pointer;
    }
}
