.error {
    position: fixed;
    width: 1360px;
    min-width: 320px;
    height: 75px;
    background-color: #cc9a9a;
    z-index: 20;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: #495a6f;
    opacity: 0.5;
    transition: all 2s ease-in;
    bottom: 0vh;
}

@media (max-width: 767px) {
    .error {
        height: 50px;
    }
}
