.footer {
    width: 100%;
    min-width: 320px;
    height: 75px;
    background-color: #768ca6;
    opacity: 1;
    transition: all 3s ease-in;
}

@media (max-width: 767px) {
    .footer {
        height: 50px;
    }
}
