.header_site_name {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 2em;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #1e2d42;
  text-align: center;
}

@media (max-width: 500px) {
  .header_site_name {
    font-size: 0;
  }
}