@import "../../styles/content-frame.scss";

@mixin border {
    border-right: 1px solid #f0ebdd;
    padding: 0 3px 0 3px;
    height: 25px;
    text-align: center;
    margin-top: 4px;
}

@mixin input {
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1em;
    font-weight: 300;
    color: #1e2d42;
    text-align: center;
    background-color: snow;
}

.waybill_form_header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    .waybill_form_header_save {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .waybill_form_header_save_name {
            margin: 0 5px 0 5px;
            font-size: 1.3em;
        }
    }
    .waybill_form_header_date {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .waybill_form_header_date_date {
            display: flex;

            .waybill_form_header_date_date_name {
                min-width: 40px;
            }
        }
        .waybill_form_header_date_buyer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .waybill_form_header_date_buyer_name {
                min-width: 85px;
            }
        }
    }
    .waybill_form_header_usage {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
