.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  font-size: 1.1em;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f0ebdc;
  line-height: 1.3;
  text-align: justify;
}

.waybill_form_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 150px;
}
.waybill_form_header .waybill_form_header_save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.waybill_form_header .waybill_form_header_save .waybill_form_header_save_name {
  margin: 0 5px 0 5px;
  font-size: 1.3em;
}
.waybill_form_header .waybill_form_header_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.waybill_form_header .waybill_form_header_date .waybill_form_header_date_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.waybill_form_header .waybill_form_header_date .waybill_form_header_date_date .waybill_form_header_date_date_name {
  min-width: 40px;
}
.waybill_form_header .waybill_form_header_date .waybill_form_header_date_buyer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.waybill_form_header .waybill_form_header_date .waybill_form_header_date_buyer .waybill_form_header_date_buyer_name {
  min-width: 85px;
}
.waybill_form_header .waybill_form_header_usage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}