.waybills_list {
    display: flex;
    flex-direction: column;

    .waybills_list_wb {
        display: flex;
        flex-direction: row;
        height: 30px;
        border-top: 1px solid snow;

        .waybills_list_wb_date {
            text-align: center;
            flex: 0 0 15%;
            border-right: 1px solid snow;
        }
        .waybills_list_wb_num {
            text-align: center;
            flex: 0 0 25%;
            border-right: 1px solid snow;
        }
        .waybills_list_wb_ctrpty {
            text-align: center;
            flex: 0 0 45%;
            border-right: 1px solid snow;
        }
        .waybills_list_wb_summ {
            text-align: center;
            flex: 0 0 15%;
        }
    }
    .waybills_list_wb:hover {
        cursor: pointer;
    }
}

.highlight {
    background-color: #405c74;
}
